<div class="auth-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="adminLoginRequestDto.email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="adminLoginRequestDto.password" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  <p>Already have an account? <a (click)="goToRegisterPage()">Log in here</a></p>
</div>
